html > body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    color: rgb(24, 24, 24);
    

}
label{
    margin-bottom: 5px;
    margin-left: 30px;
}
input, button{
    width: 100%;
    max-width: 300px;
  
  
    margin-left: 30px;
    
}
button{
    border-radius: 20px;
    padding:10px;
    appearance: none;
    margin-top: 20px;
      
}

/*ID*/




/*CLASS*/
.input {
    padding: 10px;
    margin: 10px;
    
}

.box{
    height: 400px;
    width: 400px;
    background-color:rgb(0,0,0, 0.2);
    position: absolute;
    top:20%;
    left:35%;
    
    
}
